
.App {
  text-align: center;
}

.backgroundcontainer{
  background: url('./backgroundpic.jpg') center/cover fixed;
  height: 123vh;
  filter: blur(10px);
  opacity: 60%;
  margin: 0;
  background-repeat: repeat-x;
  z-index: 1;
}

.main{
  position: absolute;
  top: 60px;
  background-color: #ffffff00;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navcontainer{
  box-sizing: border-box;
  background-color: rgb(250, 235, 221);
  display: flex;
  flex-wrap: nowrap;
  font-weight: 400;
  height: 60px;
  line-height: 24px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  width: 100%;
  border-width: 0.5px;
}
